.gitattributes
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
scripts/.luacheckrc
scripts/luacheck.exe
readme.txt
build/out/AspectOfTheBeastBear.ext
build/out/AspectOfTheBeastBear.zip
